@font-face {
	font-family: 'geogrotesque';
	src: url(assets/Geogrotesque-Regular.eot);
	src: url(assets/Geogrotesque-Regulard41d.eot?#iefix) format('embedded-opentype'), url(assets/Geogrotesque-Regular.woff2) format('woff2'), url(assets/Geogrotesque-Regular.woff) format('woff'), url(assets/Geogrotesque-Regular.ttf) format('truetype'), url(assets/Geogrotesque-Regular.svg#Geogrotesque-Regular) format('svg');
	font-weight: 400;
	font-style: normal
}

.ps {
	overflow: hidden !important;
	overflow-anchor: none;
	-ms-overflow-style: none;
	touch-action: auto;
	-ms-touch-action: auto
}

.ps__rail-x {
	display: none;
	opacity: 0;
	transition: background-color .2s linear, opacity .2s linear;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	height: 15px;
	bottom: 0px;
	position: absolute
}

.ps__rail-y {
	display: none;
	opacity: 0;
	transition: background-color .2s linear, opacity .2s linear;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	width: 15px;
	right: 0;
	position: absolute
}

.ps--active-x>.ps__rail-x,
.ps--active-y>.ps__rail-y {
	display: block;
	background: transparent
}

.ps:hover>.ps__rail-x,
.ps:hover>.ps__rail-y,
.ps--focus>.ps__rail-x,
.ps--focus>.ps__rail-y,
.ps--scrolling-x>.ps__rail-x,
.ps--scrolling-y>.ps__rail-y {
	opacity: 0.6
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
	background: #eee;
	opacity: 0.9
}

.ps__thumb-x {
	background: #aaa;
	border-radius: 6px;
	transition: background-color .2s linear, height .2s ease-in-out;
	-webkit-transition: background-color .2s linear, height .2s ease-in-out;
	height: 6px;
	bottom: 2px;
	position: absolute
}

.ps__thumb-y {
	background: #aaa;
	border-radius: 6px;
	transition: background-color .2s linear, width .2s ease-in-out;
	-webkit-transition: background-color .2s linear, width .2s ease-in-out;
	width: 6px;
	right: 2px;
	position: absolute
}

.ps__rail-x:hover>.ps__thumb-x,
.ps__rail-x:focus>.ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
	background: #999;
	height: 11px
}

.ps__rail-y:hover>.ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
	background: #999;
	width: 11px
}

@supports (-ms-overflow-style: none) {
	.ps {
		overflow: auto !important
	}
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	.ps {
		overflow: auto !important
	}
}

.color-picker,
.color-picker::before,
.color-picker::after,
.color-picker *,
.color-picker *::before,
.color-picker *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.color-picker {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999
}

.color-picker-container {
	background: #000;
	color: #000;
	padding: 1px;
	-webkit-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
	width: calc(11.5em + 3px)
}

.circlerow {
	filter: blur(2px);
	position: absolute;
	left: 49.2%;
	top: -32px;
	width: 142px;
	height: 142px;
	margin-left: -50px;
	border-radius: 50%;
	transform: translateX(-195px) scale(1.5);
	background-image: url("../i.imgur.com/xFUIeoX.gif");
	transition: all 0.3s;
	cursor: pointer;
	z-index: 9
}

.color-picker-container *,
.color-picker-container *::before,
.color-picker-container *::after {
	border-color: inherit
}

.color-picker-container::after {
	content: "";
	display: table;
	clear: both
}

.color-picker i {
	font: inherit;
	font-size: 12px
}

.color-picker-h {
	position: relative;
	width: 1.5em;
	height: 10em;
	float: right;
	cursor: ns-resize;
	background: transparent url(../saigo.hslo.io/resources/kkPQPdzeBt6eb5.png?0c502eb2a7a499f460383ab08c3096c6) no-repeat 50% 50%;
	background-image: -webkit-linear-gradient(to top, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 67%, #f0f 83%, red 100%);
	background-image: -moz-linear-gradient(to top, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 67%, #f0f 83%, red 100%);
	background-image: linear-gradient(to top, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 67%, #f0f 83%, red 100%);
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	overflow: hidden
}

.color-picker-h i {
	position: absolute;
	top: -.25em;
	right: 0;
	left: 0;
	z-index: 3;
	display: block;
	height: .5em
}

.color-picker-h i::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	border: .25em solid;
	border-color: inherit;
	border-top-color: transparent;
	border-bottom-color: transparent
}

.color-picker-sv {
	position: relative;
	width: 10em;
	height: 10em;
	float: left;
	margin-right: 1px;
	background: transparent url(../saigo.hslo.io/resources/eAhmsuAKEm400e.png?cac8d86d3b4c2731cafced509d4b26c4) no-repeat 50% 50%;
	background-image: -webkit-linear-gradient(to top, #000, rgba(0, 0, 0, 0)), linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(to top, #000, rgba(0, 0, 0, 0)), linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0)), linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	cursor: crosshair
}

.color-picker-sv i {
	position: absolute;
	top: -.4em;
	right: -.4em;
	z-index: 3;
	display: block;
	width: .8em;
	height: .8em
}

.color-picker-sv i::before,
.color-picker-sv i::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	border: 1px solid;
	border-color: inherit;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%
}

.color-picker-sv i::before {
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	border-color: #fff
}

.color-picker-h,
.color-picker-sv {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent
}

@keyframes rainbow_background {
	100%,
	0% {
		background-color: #ff4242
	}
	8% {
		background-color: #ffa74f
	}
	16% {
		background-color: #ffff67
	}
	25% {
		background-color: #a3ff48
	}
	33% {
		background-color: #46ff46
	}
	41% {
		background-color: #50fda6
	}
	50% {
		background-color: #55fcfc
	}
	58% {
		background-color: #4aa3fc
	}
	66% {
		background-color: #4242ff
	}
	75% {
		background-color: #a54dfd
	}
	83% {
		background-color: #ff4dff
	}
	91% {
		background-color: #ff4ba5
	}
}

#notifications {
	position: fixed;
	bottom: 45px;
	left: 5px;
	display: flex;
	flex-direction: column;
	font-family: 'Noto Sans', Arial;
	max-width: 300px;
	transform-origin: bottom left
}

#notifications .notification {
	display: flex;
	flex-direction: row;
	align-self: flex-start;
	padding: 4px 8px;
	margin-top: 3px;
	border-radius: 5px;
	transition: all 0.5s;
	user-select: none
}

#notifications .notification .icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 8px
}

#notifications .notification .icon i {
	font-size: 18px
}

#notifications .notification .main {
	font-size: 14px
}

#notifications .notification .main .title {
	display: inline;
	font-weight: 600;
	margin-right: 4px
}

#notifications .notification .main .content {
	display: inline;
	font-weight: 400;
	word-break: break-word
}

#notifications .normal {
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #fff;
	color: #fff
}

#notifications .normal .main .content {
	color: #CFD8DC
}

#notifications .system {
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #f33;
	color: #fff
}

#notifications .alert {
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #6f9;
	color: #fff
}

#leaderboard-title {
	position: fixed;
	top: 10px;
	right: 10px;
	transform-origin: top right;
	user-select: none;
	text-shadow: 0px 0px 5px #000;
	color: #fff;
	font-size: 27px;
	font-family: "geogrotesque", "Oswald";
}

#leaderboard {
	position: fixed;
	top: 50px;
	right: 5px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	font-family: "geogrotesque", "Arial";
	transform-origin: top right;
	user-select: none;
	padding: 5px 5px 10px 8px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

#leaderboard .slot {
	font-size: 14px;
	display: none;
	flex-direction: row;
	justify-content: flex-end;
	align-self: flex-end;
	line-height: 16px;
	margin-top: 2px;
	padding: 2px 4px;
}

#leaderboard .total-mass {
	color: #fff;
	align-self: flex-end;
	margin-top: 15px;
	margin-right: 5px;
	font-size: 14px;
}

#leaderboard .slot .name {
	font-family: Arial, Helvetica, Arial;
	font-weight: 600;
	white-space: nowrap;
}

#leaderboard .slot .position {
	font-weight: 100;
	margin-left: 5px;
}

#teamlist-head {
	position: fixed;
	font-family: Raleway;
	font-size: 12px;
	top: 10px;
	left: 10px;
	font-weight: 600;
	text-transform: uppercase;
	transform-origin: top left;
	user-select: none;
	cursor: default;
	color: #fff;
	font-family: "geogrotesque", "Arial";
	text-shadow: 0px 0px 5px #000
}

#teamlist-hud {
	position: fixed;
	left: 10px;
	top: 30px;
	text-shadow: 0 0 5px #000;
	display: flex;
	flex-direction: column;
	font-family: "geogrotesque", "Arial";
	font-size: 14px;
	align-items: flex-start;
	transform-origin: top left;
	user-select: none
}

#teamlist-hud .list {
	display: flex;
	flex-direction: column
}

#teamlist-hud .list .slot {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.0) 100%);
	min-width: 180px;
	width: calc(100%);
	margin-bottom: 3px;
	overflow: hidden;
	display: none;
	flex-direction: row;
	flex-wrap: wrap
}

#teamlist-hud .list .slot .mass {
	font-weight: 600;
	padding: 2px 4px;
	background: #222;
	color: #fff
}

#teamlist-hud .list .slot .name {
	font-weight: 400;
	padding: 2px 4px;
	color: #fff
}

#teamlist-hud .list .slot .progress {
	position: relative;
	background: #555;
	box-shadow: 0px 0px 5px #000;
	width: 100%;
	height: 3px
}

#teamlist-hud .list .slot .mass-bar {
	position: absolute;
	background: #f7f7f7;
	max-width: calc(100%);
	transition: width 0.3s ease-in-out;
	height: 3px
}

#teamlist-hud #team-data {
	display: flex;
	flex-direction: row
}

#teamlist-hud #team-data .team-data-slot {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	font-size: 12px;
	line-height: 16px;
	color: #f7f7f7;
	padding: 0px 10px 0px 0px
}

#teamlist-hud #team-data #totalTeam i {
	font-size: 12px;
	margin-top: 2px
}

#teamlist-hud #team-data .team-data-slot i {
	font-size: 16px;
	margin-right: 5px
}

#minimap {
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 180px;
	height: 180px;
	transform-origin: bottom right;
	user-select: none;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #666;
	border-radius: 5px
}

#minimap #minimap-nodes {
	position: absolute;
	width: 100%;
	height: 100%
}

#minimap .background {
	position: absolute;
	display: flex;
	flex-direction: column;
	color: #eee;
}

#minimap .background .row {
	display: flex;
	flex-direction: row
}

#minimap .background .row .sector {
	display: flex;
	justify-content: center;
	line-height: 36px;
	color: #666;
	width: 36px;
	height: 36px;
	font-family: "geogrotesque", "Arial";
	font-size: 13px
}

#emotes-box {
	width: 383px;
	height: 80px;
	overflow: auto;
	box-sizing: border-box;
	position: relative;
	padding-left: 8px;
	padding-right: 8px;
	margin: auto;
	background: rgba(255, 255, 255, 0.1);
	margin-bottom: 5px;
	border-radius: 5px
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background: #bbb;
}

::-webkit-scrollbar-thumb:hover {
	background: #eee;
}

.emojiPreview {
	width: 20px;
	margin: 2px;
	cursor: pointer
}

.emojiPreview:hover {
	background: rgba(0, 0, 0, 0.5)
}

#chatbox {
	display: none;
	flex-direction: column;
	position: fixed;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	width: 450px
}

#chatbox .input-container {
	display: flex;
	flex-direction: row
}

#chatbox .input-container #chat-input {
	border: none;
	outline: none;
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 8px;
	font-family: "geogrotesque", "Arial";
	font-size: 14px;
	border-bottom: 3px solid #111;
	border-radius: 8px
}

#chatbox .input-container #emotes-box-toggle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: none;
	outline: none;
	background: #090909;
	color: #444444;
	border-bottom: 3px solid #222;
	display: none
}

#stats {
	position: fixed;
	bottom: 5px;
	left: 5px;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	font-size: 16px;
	font-family: "geogrotesque", "Arial";
	padding: 4px 8px;
	border-radius: 2px;
	white-space: pre;
	display: flex;
	align-items: center;
	transform-origin: bottom left;
	user-select: none
}

#padlock {
	position: fixed;
	color: white;
	bottom: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.5);
	font-size: 14px;
	padding: 5px 8px;
	border-radius: 2px;
	transform-origin: bottom left
}

#chatroom {
	position: fixed;
	bottom: 45px;
	left: 5px;
	display: none;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.4);
	color: #dddddd;
	font-family: "geogrotesque", "Arial";
	font-size: 14px;
	width: 300px;
	height: 330px;
	padding: 10px;
	box-sizing: border-box;
	transform-origin: bottom left;
	border-radius: 8px;
}

#chatroom .ps__rail-y {
	background: rgba(0, 0, 0, 0.4);
	width: 6px;
	opacity: 1
}

#chatroom .ps__rail-y .ps__thumb-y {
	background: #e93130;
	width: 6px;
	right: 0px;
	border-radius: 0px
}

#chatroom .message {
	margin-bottom: 4px
}

#chatroom .message i {
	flex-direction: column;
	justify-content: center;
	font-size: 16px;
	line-height: 19px;
	margin-right: 4px;
	display: inline;
	vertical-align: bottom
}

#chatroom .message .time {
	color: #555555;
	margin-right: 4px;
	display: inline
}

#chatroom .message .title {
	font-weight: 600;
	margin-right: 4px;
	display: inline
}

#chatroom .message .content {
	color: #bbbbbb;
	display: inline;
	word-break: break-word
}

#time-hud {
	position: fixed;
	right: 10px;
	bottom: 200px;
	color: #fff;
	font-size: 12px;
	text-shadow: 0px 0px 5px #000;
	font-family: "geogrotesque", "Arial";
	white-space: pre;
	display: flex;
	align-items: center;
	transform-origin: bottom right;
	user-select: none
}

#huds {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%
}

.control-bar {
	position: fixed;
	top: 43%;
	left: 49%;
	transform: translateY(-50%);
	transform: translatex(-49%);
	width: 100%;
	height: 100px;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	user-select: none;
	border-radius: 5px;
	-webkit-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 1);
	box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 1)
}

.control-bar .buttons {
	display: flex;
	flex-direction: row
}

.control-bar .buttons .button {
	width: 140px;
	height: 100px;
	transform: skewX(-10deg) scaleX(1);
	transition: transform 0.2s ease-in-out;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	position: relative;
	overflow: hidden
}

.control-bar .buttons .button .inner {
	transform: skewX(10deg) scaleX(1);
	transition: transform 0.2s ease-out;
	color: #fff;
	text-align: center;
	pointer-events: none
}

.control-bar .buttons .button .inner .icon i {
	font-size: 38px
}

.control-bar .buttons .button .inner .label {
	font-family: "geogrotesque", "Arial";
	font-weight: 600;
	font-size: 11px;
	text-transform: uppercase
}

.control-bar .buttons .button.left {
	margin-right: 100px;
	left: 50px;
	z-index: 4;
	transform-origin: right;
}

.control-bar .buttons .button.right.four .icon.on {
	display: none
}

.control-bar .buttons .button.right.four .icon.off {
	display: block
}

.control-bar .skin-preview-circle {
	position: absolute;
	left: 49.2%;
	top: -32px;
	z-index: 10;
	width: 143px;
	height: 143px;
	margin-left: -50px;
	border-radius: 50%;
	transform: translateX(-195px) scale(1.5);
	transition: all 0.3s;
	cursor: pointer
}

.control-bar .skin-preview-circle .container {
	position: absolute;
	top: -1.2px;
	left: -1.48px;
	width: 135px;
	height: 135px;
	margin: 5px;
	border-radius: 50%;
	background: #fff;
	display: flex;
	padding: 3px;
	box-sizing: border-box;
	position: relative
}

.control-bar .skin-preview-circle .container .preview {
	background-size: cover
}

.control-bar .skin-preview-circle .container #skin-preview-1 {
	width: 130px;
	height: 130px;
	background-color: #999999;
	border-radius: 50%;
	animation: rainbow_background 20s infinite;
	background-position-x: left
}

.control-bar .skin-preview-circle .container .divider {
	width: 2px;
	position: absolute;
	left: 67.0px;
	transform: scaleY(1.05);
	height: 127px;
	background: #fff;
	opacity: 0;
	z-index: 1;
	transition: all 0.5s
}

.control-bar .skin-preview-circle .container #skin-preview-2 {
	width: 65px;
	height: 130px;
	position: absolute;
	right: 3px;
	background-color: #999999;
	border-radius: 0px 70px 70px 0px;
	animation: rainbow_background 20s infinite;
	background-position-x: right;
	opacity: 0;
	transition: all 0.5s
}

.control-bar .skin-preview-circle:hover {
	transform: translateX(-195px) scale(1.6)
}

.control-bar[multibox=on] .buttons .button.right.four .inner .icon.on {
	display: block
}

.control-bar[multibox=on] .buttons .button.right.four .inner .icon.off {
	display: none
}

.control-bar[multibox=on] .skin-preview-circle .container .divider,
.control-bar[multibox=on] .skin-preview-circle .container #skin-preview-2 {
	opacity: 1
}

.player-data-box {
	position: fixed;
	top: 52%;
	left: 50%;
	padding: 15px;
	background: rgba(0, 0, 0, 0.5);
	transform: translate(-50%, 80px);
	border-radius: 35px;
	user-select: none;
	-webkit-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 1);
	box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 1)
}

.player-data-box #toggle-streammode {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -25px;
	right: -4px;
	width: 40px;
	height: 24px;
	background: rgba(0, 0, 0, 0.5);
	color: #555;
	cursor: pointer;
	border-radius: 10px;
	-webkit-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 1);
	box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 1)
}

.player-data-box #toggle-streammode i {
	font-size: 20px
}

.player-data-box .stream-mode {
	color: transparent !important
}

.player-data-box .stream-mode::selection {
	color: transparent !important;
	background: #fff
}

.player-data-box .input-row {
	display: flex;
	margin-bottom: 5px
}

.player-data-box .input-row .input-field {
	border: none;
	outline: none;
	font-family: "geogrotesque", "Arial";
	font-weight: 500;
	background: rgba(0, 0, 0, 0.0);
	color: #fff;
	height: 32px;
	padding: 9px 7px;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px #000000;
	border-radius: 15px
}

.player-data-box #tag {
	width: 75px;
	transition: all 0.5s
}

.player-data-box #nick1 {
	width: 110px;
	margin-left: 5px;
	transition: all 0.5s
}

.player-data-box #nick2 {
	width: 110px;
	margin-left: 5px;
	transition: all 0.5s
}

.player-data-box #skin1 {
	width: 140px;
	transition: all 0.5s
}

.player-data-box #skin2 {
	width: 140px;
	margin-left: 5px;
	transition: all 0.5s
}

.player-data-box .room-box {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center
}

.player-data-box .room-box .btn {
	margin: 2px;
	width: 60px;
	height: 24px;
	outline: none;
	border: none;
	border-radius: 12px;
	background: #333333;
	color: #fff;
	cursor: pointer
}

.player-data-box .room-box #create-room {
	background: rgba(0, 0, 0, 0.0);
	box-shadow: 0px 0px 10px #3c80ff;
}

.player-data-box .room-box #room-id {
	margin: 15px;
	width: 100px;
	height: 24px;
	outline: none;
	border: none;
	border-radius: 12px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.0);
	color: #fff;
	text-align: center;
	padding: 0px 8px;
	box-shadow: 0px 0px 8px #000;
	transition: all 0.5s
}

.player-data-box #join-room {
	background: rgba(0, 0, 0, 0.0);
	box-shadow: 0px 0px 10px #ff2d32
}

.player-data-box .room-type-box {
	display: flex;
	margin-top: 4px
}

.player-data-box .room-type-box .dropdown {
	width: 100px;
	display: flex;
	flex-direction: row;
	font-family: "geogrotesque", "Arial";
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	padding: 4px;
	height: 32px;
	box-sizing: border-box;
	padding-left: 10px;
	position: relative;
	cursor: pointer;
	user-select: none;
	border-radius: 15px
}

.player-data-box .room-type-box .dropdown:hover {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 15px 15px 0px 0px
}

.player-data-box .room-type-box .dropdown .selected {
	font-size: 13px;
	font-weight: 500;
	line-height: 24px;
	vertical-align: middle;
	flex-grow: 1;
	overflow: hidden
}

.player-data-box .room-type-box .dropdown .arrow {
	vertical-align: middle
}

.player-data-box .room-type-box .dropdown .arrow i {
	font-size: 20px;
	line-height: 24px
}

.player-data-box .room-type-box .dropdown .list {
	position: absolute;
	top: 32px;
	left: 0px;
	min-width: 100%;
	max-height: 105px;
	overflow: scroll;
	display: none;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 0px 0px 15px 15px;
	z-index: 1
}

.player-data-box .room-type-box .dropdown .list .item {
	font-size: 12px;
	font-weight: 500;
	font-family: "geogrotesque", "Arial";
	padding: 5px 10px
}

.player-data-box .room-type-box .dropdown .list .item:hover {
	background: rgba(255, 255, 255, 0.1)
}

.player-data-box .room-type-box .dropdown:hover .list {
	display: block
}

.player-data-box #gamemode {
	width: 95px
}

.player-data-box #region {
	width: 195px;
	margin-left: 5px
}

.player-data-box[multibox=on] #tag {
	width: 55px
}

.player-data-box[multibox=off][primary=facebook] #nick1 {
	width: 205px
}

.player-data-box[multibox=off][primary=facebook] #nick2 {
	width: 0px;
	margin-left: 0px;
	padding: 0px
}

.player-data-box[multibox=off][primary=facebook] #skin1 {
	width: 285px
}

.player-data-box[multibox=off][primary=facebook] #skin2 {
	width: 0px;
	margin-left: 0px;
	padding: 0px
}

.player-data-box[multibox=off][primary=google-plus] #nick1 {
	width: 0px;
	margin-left: 0px;
	padding: 0px
}

.player-data-box[multibox=off][primary=google-plus] #nick2 {
	width: 205px
}

.player-data-box[multibox=off][primary=google-plus] #skin1 {
	width: 0px;
	margin-left: 0px;
	padding: 0px
}

.player-data-box[multibox=off][primary=google-plus] #skin2 {
	width: 285px;
	margin-left: 0px
}

#profiles-catalogue,
#game-mode-catalogue,
#game-server-catalogue {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.5s;
	background: rgba(0, 0, 0, 0.5)
}

#profiles-catalogue #close-profiles-catalogue,
#game-mode-catalogue #close-game-mode-catalogue,
#game-server-catalogue #close-game-server-catalogue {
	color: #fff;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
	user-select: none
}

#profiles-catalogue #close-profiles-catalogue i,
#game-mode-catalogue #close-game-mode-catalogue i,
#game-server-catalogue #close-game-server-catalogue i {
	font-size: 48px;
	background: rgba(255, 255, 255, 0);
	transition: all 0.5s
}

#profiles-catalogue #close-profiles-catalogue i:hover,
#game-mode-catalogue #close-game-mode-catalogue i: hover,
#game-mode-catalogue #close-game-server-catalogue i: hover{
	background: rgba(255, 255, 255, 0.12)
}

#profiles-catalogue .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 660px;
	height: 660px
}

#profiles-catalogue .container .display {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 200px;
	height: 200px;
	margin: 10px;
	background: rgba(255, 255, 255, 0);
	transition: all 0.5s;
	user-select: none;
	cursor: pointer
}

#profiles-catalogue .container .display .skins {
	display: flex;
	flex-direction: row;
	pointer-events: none;
	justify-content: center
}

#profiles-catalogue .container .display .skins .skin {
	background-image: url(../i.imgur.com/ISgELNX.png);
	background-size: cover;
	width: 86px;
	height: 86px;
	margin: 5px;
	border-radius: 50%;
	border: 2px solid #fff;
	background-color: rgba(255, 255, 255, 0.5);
	animation: rainbow_background 20s infinite
}

#profiles-catalogue .container .display .skins .skin.one {
	display: none
}

#profiles-catalogue .container .display .skins .skin.two {
	display: none
}

#profiles-catalogue .container .display .nicks {
	display: flex;
	flex-direction: row;
	pointer-events: none;
	margin-top: 10px
}

#profiles-catalogue .container .display .nicks .nick {
	flex-grow: 1;
	color: #fff;
	font-family: "geogrotesque", "Arial";
	font-weight: 500;
	text-align: center;
	white-space: nowrap;
	pointer-events: none;
	overflow: hidden
}

#profiles-catalogue .container .display .nicks .nick.one {
	display: none
}

#profiles-catalogue .container .display .nicks .nick.two {
	display: none
}

#profiles-catalogue .container .display:hover {
	background: rgba(255, 255, 255, 0.12)
}

#profiles-catalogue[multibox=on] .container .display .skins .skin.one {
	display: block
}

#profiles-catalogue[multibox=on] .container .display .skins .skin.two {
	display: block
}

#profiles-catalogue[multibox=on] .container .display .nicks .nick {
	max-width: 50%
}

#profiles-catalogue[multibox=on] .container .display .nicks .nick.one {
	display: block
}

#profiles-catalogue[multibox=on] .container .display .nicks .nick.two {
	display: block
}

#profiles-catalogue[multibox=off][primary=facebook] .container .display .skins .skin.one {
	width: 120px;
	height: 120px;
	display: block
}

#profiles-catalogue[multibox=off][primary=facebook] .container .display .nicks .nick.one {
	display: block
}

#profiles-catalogue[multibox=off][primary=google-plus] .container .display .skins .skin.two {
	width: 120px;
	height: 120px;
	display: block
}

#profiles-catalogue[multibox=off][primary=google-plus] .container .display .nicks .nick.two {
	display: block
}

#settings-menu {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 550px;
	background: #111;
	box-shadow: 0px 0px 50px #3c80ff;
	border-radius: 2px;
	transform: translate(-50%, -50%);
	display: none;
	flex-direction: row;
	opacity: 0;
	transition: opacity 0.5s;
	user-select: none;
	border-radius: 10px
}

#settings-menu #close-settings-menu {
	color: #fff;
	position: absolute;
	right: 0px;
	top: -35px;
	background: rgba(255, 54, 45, 0.90);
	padding: 5px 5px;
	display: flex;
	cursor: pointer;
	border-radius: 15px;
	box-shadow: 0px 0px 10px #000
}

#settings-menu #close-settings-menu i {
	pointer-events: none;
	font-size: 20px
}

#settings-menu .navigation {
	display: flex;
	flex-grow: 0;
	flex-basis: 140px;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.5)
}

#settings-menu .navigation .tab {
	display: flex;
	padding: 9px 18px;
	font-size: 15px;
	font-family: "geogrotesque", "Arial";
	text-transform: uppercase;
	color: #e0e0e0;
	cursor: pointer;
	transition: all 0.5s;
}

#settings-menu .navigation .tab i {
	font-size: 18px;
	margin-right: 5px;
	pointer-events: none;
	line-height: 22px
}

#settings-menu .navigation .tab:first-child {
	margin-top: 8px
}

#settings-menu .navigation .tab:hover {
	background: #101010
}

#settings-menu .navigation .tab.active {
	background: #111
}

#settings-menu .options-list {
	flex-grow: 0;
	flex-basis: 360px;
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 10px
}

#settings-menu .options-list .ps__rail-y {
	background: #090909;
	width: 6px;
	opacity: 1
}

#settings-menu .options-list .ps__rail-y .ps__thumb-y {
	background: #ff2d2d;
	width: 6px;
	right: 0px;
	border-radius: 0px
}

#settings-menu .options-list div[category] {
	display: none
}

#settings-menu .options-list div[category].active {
	display: block
}

#settings-menu .options-list .seperator {
	background: #090909;
	height: 4px;
	width: 100%
}

#settings-menu .options-list .option {
	display: flex;
	flex-direction: row;
	padding: 10px 12px;
	transition: all 0.4s
}

#settings-menu .options-list .option .name {
	flex-grow: 1;
	font-family: "geogrotesque", "Arial";
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #fff
}

#settings-menu .options-list .option .ud-button {
	flex-grow: 1;
	margin: 2px;
	display: flex;
	flex-direction: row;
	background: linear-gradient(145deg, #005fbe, #376df8);
	outline: none;
	border: none;
	color: #fff;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	font-family: "geogrotesque", "Arial";
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 2px;
	padding: 8px;
	cursor: pointer
}

#settings-menu .options-list .option .ud-button i {
	pointer-events: none;
	line-height: 17px;
	font-size: 18px;
	margin-right: 4px
}

#settings-menu .options-list .option:hover {
	background: #111
}

#settings-menu .options-list .toggle .box {
	width: 40px;
	height: 20px;
	padding: 3px;
	box-sizing: border-box;
	border-radius: 10px;
	transition: all 0.4s;
	background: #444;
	cursor: pointer
}

#settings-menu .options-list .toggle .box .ball {
	background: #222;
	width: 14px;
	height: 14px;
	margin-left: 0px;
	border-radius: 50%;
	transition: all 0.4s
}

#settings-menu .options-list .toggle.on .box {
	background: #376df8
}

#settings-menu .options-list .toggle.on .box .ball {
	background: #fff;
	margin-left: 20px
}

#settings-menu .options-list .range {
	flex-wrap: wrap
}

#settings-menu .options-list .range .value {
	margin-left: 8px;
	padding: 0px 6px;
	font-family: "geogrotesque", "Arial";
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
	color: #ddd;
	background: #222;
	border-radius: 9px
}

#settings-menu .options-list .range .box {
	display: flex;
	margin-top: 5px;
	width: 100%;
	position: relative
}

#settings-menu .options-list .range .box input[type=range] {
	width: 100%;
	height: 20px;
	background: transparent;
	margin: 0px;
	z-index: 1;
	-webkit-appearance: none
}

#settings-menu .options-list .range .box input[type=range]:focus {
	outline: none
}

#settings-menu .options-list .range .box input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 0px;
	cursor: pointer;
	background: transparent;
	border-radius: 5px
}

#settings-menu .options-list .range .box input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 1px #000;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background: #fff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -10px
}

#settings-menu .options-list .range .box .progress-bar {
	position: absolute;
	width: 100%;
	height: 10px;
	margin-top: 5px;
	border-radius: 5px;
	background: #222222;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	padding: 0px 10px;
	box-sizing: border-box
}

#settings-menu .options-list .range .box .progress-bar .fill {
	width: 40%;
	height: 100%;
	background: linear-gradient(90deg, transparent, #376df8)
}

#settings-menu .options-list .drop-down {
	justify-content: center
}

#settings-menu .options-list .drop-down .box {
	display: flex;
	flex-direction: row;
	color: #fff;
	position: relative;
	cursor: pointer
}

#settings-menu .options-list .drop-down .box .selected {
	flex-grow: 1;
	line-height: 20px;
	font-family: "geogrotesque", "Arial";
	font-weight: 400;
	font-size: 14px
}

#settings-menu .options-list .drop-down .box .arrow {
	display: flex;
	justify-content: center
}

#settings-menu .options-list .drop-down .box .arrow i {
	line-height: 20px
}

#settings-menu .options-list .drop-down .box .list {
	position: absolute;
	top: 20px;
	right: 0px;
	background: rgba(20, 20, 20, 0.8);
	display: none;
	z-index: 10;
	box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.8);
}

#settings-menu .options-list .drop-down .box .list .item {
	padding: 8px;
	font-family: "geogrotesque", "Arial";
	font-weight: 400;
	font-size: 14px;
	white-space: nowrap;
	transition: all 0.4s
}

#settings-menu .options-list .drop-down .box .list .item:hover {
	background: #444
}

#settings-menu .options-list .drop-down .box:hover .list {
	display: block
}

#settings-menu .options-list .input {
	display: flex;
	flex-direction: column
}

#settings-menu .options-list .input input {
	margin-top: 5px;
	outline: none;
	border: none;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.8);
	color: #fff;
	padding: 6px;
	font-family: 'Noto Sans', Arial;
	font-weight: 400;
	font-size: 14px
}

#settings-menu .options-list .colorpicker {
	align-content: center
}

#settings-menu .options-list .colorpicker .name {
	line-height: 29px
}

#settings-menu .options-list .colorpicker input {
	width: 60px;
	outline: none;
	border: none;
	background: #222;
	border-radius: 16px;
	color: #fff;
	padding: 5px;
	font-family: "geogrotesque", "Arial";
	font-weight: 400;
	font-size: 14px;
	margin-right: 7px;
	align-self: center
}

#settings-menu .options-list .colorpicker .color-preview {
	width: 29px;
	height: 29px;
	background: #fa0;
	border: 6px solid #222;
	border-radius: 16px;
	box-sizing: border-box;
	cursor: pointer
}

#settings-menu .options-list .hotkey {
	align-content: center
}

#settings-menu .options-list .hotkey input {
	width: 70px;
	outline: none;
	box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.8);
	border: 2px solid rgba(20, 20, 20, 0.8);
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.1);
	color: transparent;
	text-shadow: 0 0 0 #999;
	font-family: "geogrotesque", "Arial";
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	user-select: none;
	transition: all 0.4s
}

#settings-menu .options-list .hotkey input:focus {
	border: 2px solid #888
}

#settings-menu .options-list.ps--active-y .option {
	margin-right: 6px
}

#accounts-menu {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #090909;
	padding: 20px;
	border-radius: 3px;
	display: none;
	opacity: 0;
	transition: opacity 0.5s;
	flex-direction: column;
	user-select: none
}

#accounts-menu .login-button {
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 2px;
	background: #444;
	color: #fff;
	font-family: "geogrotesque", "Arial";
	font-weight: 600;
	margin-bottom: 10px;
	width: 200px;
	cursor: pointer
}

#accounts-menu .login-button span {
	pointer-events: none
}

#accounts-menu #login-facebook {
	background: #3b5998
}

#accounts-menu #login-google-plus {
	background: #dd4b39
}

#accounts-menu #login-facebook:hover {
	background: #506fb3
}

#accounts-menu #login-google-plus:hover {
	background: #f75d49
}

#accounts-menu .label {
	color: #b5b5b5;
	font-family: "geogrotesque", "Arial";
	font-weight: 500;
	font-size: 13px;
	margin-bottom: 4px
}

#accounts-menu #primary-account {
	width: 100%;
	margin-bottom: 10px
}

#accounts-menu .dropdown {
	width: 100px;
	display: flex;
	flex-direction: row;
	font-family: "geogrotesque", "Arial";
	background: #181818;
	color: #fff;
	padding: 4px;
	height: 32px;
	box-sizing: border-box;
	padding-left: 10px;
	position: relative;
	cursor: pointer;
	user-select: none;
	box-shadow: 0px 0px 5px #000
}

#accounts-menu .dropdown .selected {
	font-size: 13px;
	font-weight: 500;
	line-height: 24px;
	vertical-align: middle;
	flex-grow: 1
}

#accounts-menu .dropdown .arrow {
	vertical-align: middle
}

#accounts-menu .dropdown .arrow i {
	font-size: 20px;
	line-height: 24px
}

#accounts-menu .dropdown .list {
	position: absolute;
	top: 32px;
	left: 0px;
	width: 100%;
	max-height: 120px;
	overflow: hidden;
	display: none;
	z-index: 1
}

#accounts-menu .dropdown .list .item {
	font-size: 12px;
	font-weight: 500;
	font-family: "geogrotesque", "Arial";
	padding: 5px 10px;
	background: #333
}

#accounts-menu .dropdown .list .item:hover {
	background: #444
}

#accounts-menu .dropdown:hover .list {
	display: block
}

#accounts-menu #close-accounts-menu {
	background: #181818;
	border: none;
	outline: none;
	font-weight: 600;
	font-family: 'Noto Sans', Arial;
	text-transform: uppercase;
	color: #666666;
	padding: 5px 12px;
	align-self: flex-end;
	cursor: pointer
}

#changelog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #222;
	color: #aaa;
	width: 350px;
	height: 400px;
	font-family: "geogrotesque", "Arial";
	font-size: 14px;
	border-radius: 2px;
	user-select: none;
	display: none;
	flex-direction: column;
	box-shadow: 0px 0px 4px #000;
	opacity: 0;
	transition: opacity 0.5s
}

#changelog .ps__rail-y {
	background: #090909;
	width: 6px;
	opacity: 1
}

#changelog .ps__rail-y .ps__thumb-y {
	background: #383838;
	width: 6px;
	right: 0px;
	border-radius: 0px
}

#changelog .title {
	padding: 10px;
	text-align: center
}

#changelog #changelog-close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #666;
	cursor: pointer
}

#changelog #changelog-close i {
	font-size: 20px;
	transition: background-color 0.3s
}

#changelog #changelog-close i:hover {
	background: #111
}

#changelog .entry {
	padding: 10px 20px;
	transition: background-color 0.3s
}

#changelog .entry .date {
	color: #666;
	margin-left: 1px;
	margin-bottom: 2px
}

#changelog .entry .list-item {
	display: flex;
	flex-direction: row
}

#changelog .entry .list-item i {
	line-height: 20px;
	font-size: 16px;
	margin-right: 4px
}

#changelog .entry:hover {
	background: #181818
}

.top-bar {
	position: fixed;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #fff;
	padding: 5px
}

.top-bar .reconnect {
	border: none;
	outline: none;
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 14px;
	font-family: "geogrotesque", "Arial";
	font-weight: 600;
	padding: 0 10px 0 10px;
	transition: all 0.4s;
	cursor: pointer
}

.top-bar .reconnect i {
	font-size: 16px;
	line-height: 20px;
	pointer-events: none;
	margin-right: 1px
}

.top-bar .reconnect[owner="1"] {
	margin-left: 5px;
	margin-right: 5px
}

.top-bar .reconnect.disconnected {
	background: #fff;
	color: #555
}

.top-bar #socket-ip {
	border: none;
	outline: none;
	background: transparent;
	border: 1px solid white;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	line-height: 20px;
	font-size: 14px;
	font-family: "geogrotesque", "Arial";
	font-weight: 600;
	padding: 0px 5px;
}

.top-bar #socket-ip i {
	font-size: 16px;
	line-height: 20px;
	pointer-events: none;
	margin-right: 2px
}

.top-bar[multibox=off] .reconnect {
	display: none
}

.info-bar {
	position: fixed;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	color: #6b6b6b;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 15px;
	font-family: "geogrotesque", "Arial";
	font-size: 14px;
	padding: 4px 8px;
	white-space: pre;
	display: flex;
	flex-direction: row;
	user-select: none;
	z-index: -1
}

.info-bar .divider {
	margin: 3px 6px;
	width: 1px;
	background: #6b6b6b
}

.info-bar a {
	color: #6b6b6b;
	text-decoration: none
}

.info-bar a:hover i {
	color: #ff4141
}

.info-bar #changelog-open {
	display: flex;
	flex-direction: row;
	cursor: pointer
}

.info-bar #changelog-open .material-icons {
	font-size: 18px;
	align-self: center;
	color: #aaa;
	display: none;
	margin-left: 2px
}

.info-bar #changelog-open:hover .material-icons {
	color: #25a0f3
}

.info-bar #changelog-open.active .material-icons {
	display: block
}

#menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 0.5s;
	background: rgba(0, 0, 0, 0.5)
}

#loading-screen {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: #000;
	opacity: 1;
	transition: opacity 1s
}

#loading-screen .bg {
	width: 100%;
	height: 100%;
	background-image: url("../cdn.glitch.com/3932d60d-d8c1-411c-98dd-ec4c9d5a3d5c/wallpaper.jpg");
	background-size: cover;
	background-position: center;
}

#loading-screen #ls-orbs {
	position: absolute;
	top: 0px;
	left: 0px
}

#loading-screen .title {
	font-family: 'Arbutus Slab', serif;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0), 0px 0px 7px rgba(0, 0, 0, 0), 0px 0px 10px rgba(0, 0, 0, 0);
	transition: text-shadow 1s;
	user-select: none
}

#loading-screen .title .main {
	font-size: 60px
}

#loading-screen .title .sub {
	font-size: 28px;
	margin-top: -12px
}

#loading-screen .progress-bar {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 3px
}

#loading-screen .progress-bar .fill {
	width: 0%;
	height: 100%;
	background: #fff;
	box-shadow: 0px 0px 5px rgba(255, 255, 255, 0);
	transition: text-shadow 1s, width 1s
}

.material-ripple {
	background: #fff;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	pointer-events: none;
	opacity: 0.35;
	transform: scale(0);
	transition: all 1.25s ease-out
}

#screen {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%
}

#recaptcha-screen {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.4)
}

#recaptcha-screen .recaptcha {
	display: none
}

#music-box {
	display: flex;
	position: absolute;
	transform: translateX(-50%);
	flex-direction: row;
	flex-wrap: wrap;
	left: 50%;
	width: 400px;
	top: 130px
}

#music-box .music-player {
	width: 95%
}

#music-box .music-player iframe {
	max-height: 150px;
	max-width: 380px;
	border-radius: 5px;
}

#music-box .input-field {
	border: none;
	outline: none;
	background-color: #101418;
	color: #fff;
	height: 8px;
	width: 91%;
	padding: 9px 7px;
	border-radius: 5px
}

#music-box .music-button {
	display: flex;
	justify-content: center;
	margin-left: 0px;
	width: 5%;
	height: 24px;
	user-select: none;
	background: #101418;
	color: #888;
	cursor: pointer
}

#music-box .music-button:hover {
	color: #d1d1d1;
}

.spotify-container {
	display: flex;
	position: absolute;
	transform: translateX(-50%);
	flex-direction: row;
	flex-wrap: wrap;
	width: 400px;
	left: 50%;
	top: 190px
}

#musicPlayer .load-music {
	display: flex;
	justify-content: center;
	margin-top: 3px;
	width: 9%;
	height: 26px;
	background: #101418;
	color: #888;
	cursor: pointer;
	border-radius: 0px 5px 5px 0px
}

#musicPlayer .load-music {
	color: #999
}

#musicPlayer .load-music:hover {
	color: #d1d1d1
}

#musicPlayer .music-settings .material-icons {
	transform: scale(0.7)
}

#musicPlayer .load-music .material-icons {
	transform: scale(0.7);
}

body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background: #000
}

#player-count {
	margin-left: 5px;
}

#player-count-hud {
	font-family: "geogrotesque", "Arial";
	position: fixed;
	color: white;
	text-shadow: 0px 0px 5px #000;
	font-size: 14px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	padding: 5px;
	right: 5px;
	display: none;
	opacity: 1;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#menu-new {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .5);
}

#menu-new #extension-title {
	font-size: 100px;
	font-family: 'Roboto', sans-serif;
	margin-left: 80px;
	margin-top: 30px;
	color: #fff;
	user-select: none;
}

#menu-new #main-menu {
	position: absolute;
	background: transparent;
	width: 400px;
	height: 400px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 60px solid #fff;
	border-radius: 50%;
}

#menu-new #main-menu #tag {
	position: absolute;
	width: 50px;
	background: #fff;
	outline: 0;
	border: 1px solid black;
	text-align: center;
	transition: .5s;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	transform: translate(-50%, -50%);
	left: 50%;
	bottom: 7px;
}

#menu-new #main-menu #skin-preview {
	position: absolute;
	background: #bbb;
	width: 150px;
	height: 150px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 130px 130px;
	transition: .4s;
	border: 12px solid #fff;
	border-radius: 50%;
	user-select: none;
}

#menu-new #main-menu #skin-preview:hover {
	width: 160px;
	height: 160px;
	cursor: pointer;
}

#menu-new #main-menu #play,
#menu-new #main-menu #open-settings-menu,
#menu-new #main-menu #spectate,
#menu-new #main-menu #toggle-multibox {
	position: absolute;
	width: 50px;
	height: 50px;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
}

#menu #main-menu #play .material-icons,
#menu #main-menu #open-settings-menu .material-icons,
#menu #main-menu #spectate .material-icons,
#menu #main-menu #toggle-multibox .material-icons {
	position: absolute;
	color: #ff3f3f;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 45px;
	cursor: pointer;
	user-select: none;
}

#menu-new #main-menu #play .material-icons {
	font-size: 60px;
}

#menu-new #main-menu #play {
	left: -30px;
	top: 50%;
}

#menu #main-menu #open-settings-menu {
	left: 50%;
	top: -30px;
}

#menu-new #main-menu #spectate {
	right: -80px;
	top: 50%;
}

#menu-new #main-menu #toggle-multibox {
	left: 50%;
	bottom: -80px;
}

#menu-new #main-menu #user-info,
#menu-new #main-menu #user-skin {
	position: absolute;
	display: flex;
	height: 30px;
	width: 300px;
	left: 50%;
	transform: translateX(-50%);
	background: transparent;
	bottom: -120px;
}

#menu-new #main-menu #user-skin {
	bottom: -155px;
}

#menu-new #main-menu #user-info .nickname,
#menu-new #main-menu #user-skin .skin,
#menu-new #room-id {
	width: 100%;
	margin-left: 5px;
	background: #fff;
	outline: 0;
	border: 1px solid black;
	text-align: center;
	transition: .5s;
	font-size: 14px;
}

#menu-new #room-id {
	position: absolute;
	font-size: 30px;
	width: 200px;
	top: 50px;
	right: 100px;
}

#menu-new #join-room,
#menu-new #create-room {
	position: absolute;
	font-size: 20px;
	padding: 2px 10px 2px 10px;
	background: transparent;
	outline: 0;
	border: 1px solid #fff;
	transition: .2s;
	color: #fff;
	top: 95px;
	right: 100px;
}

#menu-new #join-room {
	padding: 2px 20px 2px 20px;
	right: 210px;
}

#game-mode,
#game-server,
#open-accounts-menu,
.btn-button {
	position: absolute;
	font-size: 40px;
	padding: 2px 10px 2px 10px;
	outline: 0;
	border: 1px solid #fff;
	background: transparent;
	transition: .2s;
	color: #fff;
	bottom: 150px;
	right: 100px;
}

#game-server {
	bottom: 100px;
	font-size: 30px;
}

#open-accounts-menu {
	left: 100px;
	font-size: 30px;
}

#menu-new #join-room:hover,
#menu-new #create-room:hover,
#menu-new #game-mode:hover,
#menu-new #game-server:hover,
#menu-new #open-accounts-menu:hover,
.btn-button:hover{
	background: #fff;
	color: #000;
	cursor: pointer;
}

#menu-new #build-info {
	position: absolute;
	color: #aaa;
	font-family: 'Roboto', Arial;
	left: 50%;
	bottom: 10px;
	font-size: 12px;
	transform: translate(-50%, -50%)
}

#game-mode-catalogue,
#game-server-catalogue {
	z-index: -1;
	display: flex;
  background: rgba(0, 0, 0, 0.8);
}

#game-mode-catalogue #container,
#game-server-catalogue #container-game-server{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 300px
}

#game-server-catalogue #container-game-server {
  width: 500px;
}

.btn-button {
  position: static;
  margin-bottom: 5px
}